[Desktop Entry]
Name=Big Store
Name[bg]=Магазин за приложения
Name[cs]=Obchod s aplikacemi
Name[el]=Κατάστημα εφαρμογών
Name[he]=חנות האפליקציות
Name[ja]=アプリストア
Name[ko]=앱 스토어
Name[ru]=Магазин приложений
Name[uk]=Магазин додатків
Name[zh]=应用商店
Comment=A Big Store é a loja de aplicativos do BigLinux
Comment[bg]=Магазинът за приложения на BigLinux
Comment[cs]=Obchod s aplikacemi BigLinux
Comment[de]=Der Anwendungs-Store von BigLinux
Comment[el]=Το κατάστημα εφαρμογών του BigLinux
Comment[en]=The BigLinux application store
Comment[es]=La tienda de aplicaciones de BigLinux
Comment[fr]=Le magasin d'applications de BigLinux
Comment[he]=חנות האפליקציות של BigLinux
Comment[it]=Il negozio di applicazioni di BigLinux
Comment[ja]=BigLinux のアプリストア
Comment[ko]=BigLinux 앱 스토어
Comment[pl]=Sklep z aplikacjami BigLinux
Comment[pt]=A Big Store é a loja de aplicativos do BigLinux
Comment[ru]=Магазин приложений BigLinux
Comment[tr]=BigLinux uygulama mağazası
Comment[uk]=Магазин додатків BigLinux
Comment[zh_CN]=BigLinux 应用商店
StartupNotify=true
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Categories=Settings;Biglinux;
Exec=big-store
Icon=big-store
